<<<<<<< HEAD
.container-fluid {
  margin: 0;
  background-color: rgba(255, 34, 98, 0.6);
  padding: 4%;
=======
.jumb
{ 
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  background-color: rgb(34, 193, 218) !important;
}

table {
    margin: auto;
    padding: 0;
    width:50%;
>>>>>>> 7b29146fdd06eb76ada71ea5de0e239789d116c4
}
.container {
  margin-left: 3%;
}
/* .table1 {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 lightblue;
  margin-top: 2%;
  background-color: rgba(22, 172, 196, 0.5);
  border-collapse: collapse;
} */
table,
th,
td {
  border: "1px solid black";
}
