<div class="container-fluid">
    <h1 class="display-4" style="text-align:center">BILL INQUIRY</h1>
</div>
<!--comment1-->
<form>
    <div class="container text-center">
        <table>
            <tr>
                <th style="text-align: center">Duration-From</th>
                <th>:</th>
                <td><input type="date" style="align-items: stretch"/></td>
            
            </tr>
            <tr>
                <th style="text-align: center">Duration-To</th>
                <th>:</th>
                <td><input type="date" style="align-items:stretch"/></td>
                <td><button class="btn btn-info" (click)="fn()">Okay</button></td>
            
            </tr>
            <tr>
                <th></th>
                <th></th>
                </tr>
            <tr>
                   <td colspan="4">
                        
                    <table  class="table1">
                        <tr *ngFor="let b of bill_details">
                            <th>{{b.left}}</th>
                            <td>{{b.right}}</td>
                        </tr>
                        
                    </table>
                    </td>
                    </tr>
            
        </table>
        <br>
        <br>
    </div>

</form>