<div style="height:95%">
  <div class="wrapper">
    <div id="formContent">
      <div class="">
        <h3>New Account  {{var1}}</h3>
      </div>

      <form (ngSubmit)="save()" #documentEditForm="ngForm">
        <input type="text" name="name" placeholder="Name" [(ngModel)]="nameText" #name="ngModel" required/>
        
      <input type="text" name="phone_num" placeholder="Phone no" [(ngModel)]="phone_numText" required/>
        <!--<input type="password" name="pw" placeholder="Password" [(ngModel)]="pw" #name="ngModel" required/>
        <input type="password" name="retype_pw" placeholder="Re-type Password" [(ngModel)]="retype_pw" #name="ngModel" required/> -->
        <input
          type="button"
          class="btn"
          value="Get OTP"
          data-toggle="modal"
          data-target="#myModal"
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
    
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
        </div>
      </form>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div style="font-size:20pt;padding-bottom:2%">
              <input type="text" name="" placeholder="Enter otp" />
            </div>
            <br />
              <button
                type="submit"
                class="btn"
                data-dismiss="modal"
                style="color: white;"
                (click)="documentEditForm.ngSubmit.emit()"
[disabled]="!documentEditForm.form.valid"
              >
                Register
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
