<div style="height:95%">
  <div class="wrapper">
    <div id="formContent">
      <div>
        <h3>New Account</h3>
      </div>

      <form (ngSubmit)="save()" #regForm="ngForm">
        <input type="text" name="name1" placeholder="Name" [(ngModel)]="name_var" #name="ngModel" required/>
              
        <div *ngIf="name.invalid && (name.dirty || name.touched || isBtnClicked)" class="text-danger">
      
          <div *ngIf="name.errors.required">
            Name is required
          </div>

        </div>

        <div *ngIf="!name_match(name_var)" class="text-danger">
          Name can contain only alphabets
        </div> 

        <input type="number" name="phone_num1" placeholder="Phone no" [(ngModel)]="phone_num_var" #phone_num="ngModel" required/>
       
        <div *ngIf="phone_num.invalid && (phone_num.dirty || phone_num.touched || isBtnClicked)" class="text-danger">
      
          <div *ngIf="phone_num.errors.required">
            Phone number is required
          </div>
        
        </div>

        <div *ngIf="(phone_num.touched || isBtnClicked) && !phone_num_match(phone_num_var)" class="text-danger">
          Enter a valid phone number
        </div> 

        <input type="password" name="pw1" placeholder="Password" [(ngModel)]="pw_var" #pw="ngModel" required/>
        
        <div *ngIf="pw.invalid && (pw.dirty || pw.touched || isBtnClicked)" class="text-danger">
      
          <div *ngIf="pw.errors.required">
            Password is required
          </div>
        
        </div>

        <input type="password" name="retype_pw1" placeholder="Re-type Password" [(ngModel)]="retype_pw_var" #retype_pw="ngModel" required/>
                
        <div *ngIf="(retype_pw.touched || isBtnClicked) && pw_var!=null && pw_var!='' && pw_var!=retype_pw_var" class="text-danger">
          Re-typed password does not match Password
        </div>

        <input 
          type="button" 
          class="btn" 
          value="Get OTP" 
          (click)="check()"
          data-toggle="modal" 
          data-target="#myModal"/>

          <div *ngIf="present" class="alert alert-danger">
            You already have an account<br>Go to login page
          </div>

      </form>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div style="font-size:20pt;padding-bottom:2%">
              <input type="text" name="" placeholder="Enter OTP" />
            </div>
            <br />
            <button 
                type="submit" 
                class="btn" 
                data-dismiss="modal" 
                style="color: white;"
                (click)="regForm.ngSubmit.emit()"
                [disabled]="!regForm_valid()"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
	<li *ngFor="let ou of onlineusers" (click)="select(ou.id)">
		{{ou.name}}|{{ou.phone_num}}
	</li>
</ul>

<input type="text" [(ngModel)]="selected_ou.name"/>
<input type="text" [(ngModel)]="selected_ou.phone_num"/>
<input type="text" [(ngModel)]="selected_ou.pw"/>
<input type="text" [(ngModel)]="selected_ou.retype_pw"/>


<input type="button" value="Create" (click)="create(selected_ou)">
<input type="button" value="Update" (click)="update(selected_ou)">
<input type="button" value="Delete" (click)="delete(selected_ou.id)">  -->