<div style="height:95%">
  <div class="wrapper">
    <div id="formContent">
      <div class="">
        <h3>New Account</h3>
      </div>

      <form>
        <input type="text" name="" placeholder="Name" />
        <input type="text" name="" placeholder="Phone no" />
        <input type="password" name="" placeholder="Password" />
        <input type="password" name="" placeholder="Re-type Password" />
        <input
          type="button"
          class="btn"
          value="Get OTP"
          data-toggle="modal"
          data-target="#myModal"
        />
      </form>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div style="font-size:20pt;padding-bottom:2%">
              <input type="text" name="" placeholder="Enter otp" />
            </div>
            <br />
            <a routerLink="/login">
              <button
                type="button"
                class="btn"
                data-dismiss="modal"
                style="color: white;"
              >
                Register
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
