.jumb
    {
        margin:0;
        background-color:rgba(255,34,98,0.6);
        padding:3%;
        text-align:center;  
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
      }
    
.jumb1
{
  padding:6%;
  text-align:center;
}

.row
{
  padding:2% 0 10% 0;
  text-align:center;
}
.btn1
{
  width:90%; 
  min-height: 25%;  
  min-width:80px;
  margin-left:4%;
  padding:1% 2%;
  margin-top:0;
  margin-bottom:3%;
  box-shadow: 0 13px 30px 0 rgba(0,0,0,0.3);
  background-color: rgba(238, 4, 4, 0.6);
}
.container
{
  padding:0%;
}
